.advantages {
  @media (min-width:$mobile-width){
    background-image: url(../img/grey-background.png);
    background-repeat: no-repeat;
  }
}
.advantages__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
}
.advantages__item {
  list-style: none;
}
.advantages__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}
.advantages__list {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 81px;
    .advantages {
      background-image: url(../img/grey-background.png);
      background-repeat: no-repeat;
    }
  }
}
@media (min-width: $desktop-width) {
  display: flex;
  column-gap: 81px;
  .advantages {
    background-image: url(../img/grey-background.png);
    background-repeat: no-repeat;
  }
