.advantages-wrapper {
  background-image: url(../img/grey-background-advantages.png);
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
  @media (min-width: $tablet-width) {
    background-image: url(../img/grey-background-tablet.png);
  }
}
