.advantages-wrapper {
  background-image: url("../img/hellophone-mobile.png"),
    url("../img/grey-background-advantages.png");
  background-repeat: no-repeat;
  background-size: auto, 101% auto;
  background-position: bottom, 50% 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/grey-background-tablet.png");
    background-size: 101% auto;
    background-position: 50% 0;
    display: flex;
    justify-content: flex-end;
  }
}
