.catalog-main__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: $dark-blue;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 85px;
}

.catalog-main__user-post {
  background-color: $grey;
}
