.clock__img {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.clock__img-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
