.clock {
}

.clock__img {
  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: block;
  }
  @media (min-width: $mobile-width) {
    display: none;
  }
}
