.competition-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.competition-form__fieldset-apps {
  background-color: $grey;
  border: none;
  padding: 0;
  margin-bottom: 44px;
  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    background-color: unset;
    order: -2;
    margin-bottom: 70px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 48%;
  }
}

.competition-form__fieldset-name {
  border: none;
  margin-bottom: 44px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    order: -2;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 46%;
  }
}

.competition-form__fieldset-address {
  border: none;
  margin-bottom: 44px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    order: -1;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 100%;
  }
}

.competition-form__fieldset-emotion {
  margin-bottom: 44px;
  border: none;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 47px 60px;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 69px;
    padding: 44px 62px;
  }
}

.competition-form__fieldset-achievement {
  background-color: $grey;
  border: none;
  padding: 28px 0 30px;
  margin-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    background-color: unset;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 100%;
  }
}

.competition-form__label {
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
  padding-left: 23px;
  margin-right: 20px;
  margin-top: 25px;
}

.competition-form__label--address {
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $basic-red;
  padding-left: 23px;
  position: relative;
}

.competition-form__label-form {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  padding-top: 69px;
}

.competition-form__item {
  list-style: none;
  &--ach {
    list-style: none;
    &:not(:last-child) {
      padding-bottom: 69px;
      @media (min-width: $desktop-width) {
        padding-bottom: 0;
      }
    }
  }
}

.competition-form__item-name {
  list-style: none;
  margin-bottom: 45px;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 56px;
  }
}

.competition-form__item-address {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3px;
  margin-bottom: 29px;
}

.competition-form__legend {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $basic-red;
  text-transform: uppercase;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.competition-form__tagging {
  color: $basic-red;
}

.competition-form__tagging-span {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-blue;
}

.competition-form__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.competition-form__submit-button {
  background: $green2;
  border: 2px solid $green2;
  border-radius: 1px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: 52px;
  margin-bottom: 46px;
}

::placeholder {
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.competition-form__input {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $special-white;
  border-radius: 1px;
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  flex-grow: 1;
  &:hover {
    border: 2px solid $black;
  }
  &:focus {
    border: 2px solid $basic-red;
  }
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.competition-form__input-address {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $special-white;
  border-radius: 1px;
  margin-bottom: 56px;
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  position: relative;
  &:hover {
    border: 2px solid $black;
  }
  &:focus {
    border: 2px solid $basic-red;
  }
}

.competition-form__textarea {
  border: 2px solid $special-white;
  border-radius: 1px;
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  padding-top: 22px;
  width: 276px;
  height: 197px;
  width: 100%;
  box-sizing: border-box;
  min-height: 201px;
  margin-top: 6px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  @media (min-width: $tablet-width) {
  }
  @media (min-width: $desktop-width) {
    min-height: 124px;
    margin-top: 44px;
    margin-bottom: 45px;
  }
}

.competition-form__list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.competition-form__address-list {
  padding: 0;
  margin: 0;
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.competition-form__fieldset {
  padding: 0;
}

.competition-form__hidden {
  display: none;
}

.competition-form__label-form--checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 31px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
  }
}

.competition-form__label-form--radio {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: $dark-blue;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 31px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    margin-right: 20px;
    &:checked {
      border-color: $dark-blue;
      transition: 0.2s;
    }
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 12px;
    left: 12px;
    background-color: #d22856;
    border-radius: 50%;
  }
}

.competition-form__radio {
  display: none;
}

.competition-form__legend-name {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $basic-red;
    text-transform: uppercase;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  + label {
    position: relative;
    width: 269px;
    margin-bottom: 1rem;
    user-select: none;
    margin-bottom: 62px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      border: 2px solid #e5e5e5;
      border-radius: 0.25rem;
      text-align: center;
    }
    &:after {
      content: "";
      position: absolute;
      transform: scale(0);
      transition: transform 200ms ease-out;
    }
  }
}

input[type="checkbox"] {
  + label {
    &:after {
      background-color: transparent;
      content: "";
      display: block;
      position: absolute;
      left: 15px;
      top: 5px;
      width: 8px;
      height: 20px;
      opacity: 0;
      border-bottom: 2px solid $basic-red;
      border-right: 2px solid $basic-red;
      transform: rotate(45deg);
      transition: border-color 0.3s ease;
    }
  }
  &:checked {
    + label {
      &:before {
        content: "";
      }

      &:after {
        content: "";
        opacity: 1;
      }
    }
  }
}

input[type="radio"] {
  + label {
    &:before,
    &:after {
      border-radius: 50%;
    }
    &:after {
      top: 11px;
      left: 12px;
    }
  }
  &:checked {
    + label {
      &:before {
        animation: borderscale 300ms ease-in;
      }
      &:after {
        transform: scale(1);
      }
    }
  }
}

.competition-form__checkboxes {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
}

.competition-form__icon-mail {
  display: none;
  margin-top: 23px;
  margin-left: 21px;
}

.competition-form__svg-wrapper {
  @media (min-width: $tablet-width) {
    display: block;
    width: 59px;
    height: 59px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
    height: auto;
  }
}

.competition-form__icon-phone {
  display: none;
  margin-top: 23px;
  margin-left: 21px;
}

.competition-form__list-apps {
  padding: 0;
  margin: 0;
  margin-left: 74px;
  margin-top: 49px;
}

.competition-form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
