.container {
  @media (min-width: $desktop-width) {
    min-width: 940px;
    margin: 0 auto;
    padding: 0 130px;
  }
  @media (min-width: $tablet-width) {
    min-width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: $mobile-width) {
    min-width: 280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
