.effect-time {
  display: flex;
  @media (min-width: $tablet-width) {
    background-image: url(../img/clock-tablet.svg);
    background-repeat: no-repeat;
    margin-bottom: 72px;
  }
  @media (min-width: $desktop-width) {
    background-image: url(../img/clock-desk.svg);
    background-repeat: no-repeat;
    margin-bottom: 67px;
    br {
      display: none;
    }
  }
}
