.feedback__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-red;
  text-decoration: none;
  display: flex;
  justify-content: center;

  &:hover {
    text-decoration: underline;
    color: rgba(40, 54, 69, 1);
  }

  &:active {
    text-decoration: none;
    color: rgba(40, 54, 69, 0.3);
  }
}

.feedback__item {
  list-style: none;
}

.feedback__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-red;
  text-align: center;
}

.feedback__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  color: $dark-blue;
  text-align: center;
}

.feedback__subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $dark-blue;
  text-align: center;
}

.feedback__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  column-gap: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
