.header-inner {
  background-image: url(../img/phone.png);
  background-color: $dark-blue;
  background-repeat: no-repeat;
  @media (min-width: $tablet-width) {
    background-image: url(../img/phone-tablet.png);
    background-color: unset;
    background-position: bottom;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    background-image: url(../img/phone-desktop.png);
    flex-direction: column;
  }
}
