.header-inner {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 300px;
    margin-left: -175px;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    margin-left: -150px;
  }
}
