.header-inner {
  background-color: #1d2631;
  background-repeat: no-repeat;
  @media (min-width: $tablet-width) {
    background-image: url(../img/phone-tablet.png);
    background-color: unset;
  }
  @media (min-width: $desktop-width) {
    background-image: url(../img/phone-desktop.png);
  }
}
