.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;

  @media (min-width: $desktop-width) {
    flex-direction: unset;
    max-width: 940px;
  }
}
