.main-info {
  background-color: $bg-dark-black;
}
.main-info__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
}
.main-info__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}
.main-info__slogan {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  display: flex;
  justify-content: center;
}
