.main-info {
  @media (min-width: $mobile-width) {
    display: flex;
    font-size: 0;
  }
}
.main-info__link {
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
}

.main-info__text {
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  text-align: center;
}

.main-info__slogan {
  font-family: "Arial", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  text-align: center;
  @media (min-width: $tablet-width) {
    margin-top: 200px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 350px;
  }
}
