.main-info__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0;
  padding: 20px 32px;
  &:hover {
    color: #d22856;
    background-color: $white;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.main-info__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  text-align: center;
  margin: 0;
  @media (min-width: $tablet-width) {
  }
  @media (min-width: $desktop-width) {
  }
}

.main-info__slogan {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.main-info__slogan-visually {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  @media (min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: block;
  }
}
