.page-header {
  height: 462px;
  background-image: url(../img/phone.png), url(../img/back-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  @media (min-width: $tablet-width) {
    background-image: url(../img/phone.png), url(../img/back-mobile.png);
    background-repeat: no-repeat;
  }
}
