.pop-up {
  position: fixed;
  width: 100%;
  top: 25%;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  :first-child {
    margin-top: 0;
  }
}

.pop-up--close {
  display: none;
}

.pop-up__wrapper {
  width: 280px;
  margin: 0 auto;
}

.pop-up__title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.pop-up__content {
  font-size: 14px;
  line-height: 24px;
}

.pop-up .pop-up__content {
  :first-of-type {
    margin-bottom: 38px;
  }
}

.pop-up--succes {
  padding: 0;
}

.pop-up__wrapper-button {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: #f2f2f2;
}
