.prices {
  background-image: url("../img/background-mobile-table.png");
  padding-top: 210px;
  padding-bottom: 26px;
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-tablet-table.png");
    padding-top: 120px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: 150% auto;
    background-position: 50% 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 160px;
    background-image: url("../img/background-desk-table.png");
  }
}

.prices__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $white;
}

.prices__field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  color: $dark-blue;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border: 2px solid $grey2;

  @media (min-width: $tablet-width) {
    min-width: 154px;
    padding: 7px 15px;
    text-transform: none;
  }
}

.prices__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 20px;
  border-left: 2px solid $grey2;

  &:nth-child(2) {
    border-left: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.prices__list-thead {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $dark-blue;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.prices__wrapper {
  width: 100%;
  overflow: hidden;
}

.prices__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices__list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 840px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    transform: none;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
  }
}

.prices-radio-2:checked .prices__list {
  transform: translateX(0);
  transition: 0.5s;
}

.prices__list-body {
  background-color: $white;
}

.prices__field-empty {
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    background-color: unset;
    text-transform: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 24px;
    border-right: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.prices__list-price {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
}

.prices__value-flag {
  &::before {
    position: absolute;
    content: "хит";
    height: 10px;
    font-style: normal;
    font-weight: normal;
    width: 28px;
    top: 10px;
    left: -10px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    transform: rotate(-45deg);
    z-index: 10;
    padding: 9px 22px 12px 25px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
      top: 8px;
      left: -19px;
    }

    @media (min-width: $desktop-width) {
      top: 10px;
      left: -10px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: 74px;
    height: 74px;
    background-image: url("../img/ribbon-mobile.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      background-image: url("../img/ribbon-tablet.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        position: absolute;
        content: "";
        top: -1px;
        left: -1px;
        width: 74px;
        height: 74px;
        background-image: url("../img/ribbon-mobile.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.prices__field-ok {
  @media (min-width: $tablet-width) {
    font-size: 0;
    line-height: 0;
  }
}

.prices__field-cancel {
  @media (min-width: $tablet-width) {
    font-size: 0;
    line-height: 0;
  }
}

.prices__value-empty {
  background-color: $grey;
  border-bottom: 2px solid $grey2;
  border: none;
}

.prices__icon-no {
  position: absolute;
  right: 21px;

  @media (min-width: $tablet-width) {
    right: 0;
    left: 0;
    top: 19px;
    display: block;
    width: 31px;
    margin: 0 auto;
  }
}

.prices__icon-yes {
  position: absolute;
  right: 21px;

  @media (min-width: $tablet-width) {
    right: 0;
    left: 0;
    top: 19px;
    display: block;
    width: 31px;
    margin: 0 auto;
  }
}
