.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 102px;
  }
}

.research__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $basic-red;
  margin-top: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;

  @media (min-width: $tablet-width) {
    margin-left: 105px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $black;
}

.research__br {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
