.reviews {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.reviews__info {
  @media (min-width: $mobile-width) {
    display: none;
  }
  @media (min-width: $tablet-width) {
    display: block;
  }
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}

.reviews__user {
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.reviews__comment {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}

.reviews__slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
