.reviews {
}
.reviews__info {
  @media (min-width: $mobile-width) {
    display: none;
  }
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}
.reviews__user {
  @media (min-width: $mobile-width) {
    order: 1;
  }
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}
.reviews__comment {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}
