.site-list {
}
.site-list__link {
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $white;
}
.site-list__item {
  list-style: none;
}
