.social {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social__item {
  list-style: none;
}

.social__icon {
  position: absolute;
  content: "";
  left: 17px;
  top: 15px;
}

.social__link {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  margin: 0 6px;
  width: 47px;
  height: 47px;
  font-size: 0;
  line-height: 0;
  background-color: $white;
  border: 2px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border: 2px solid $black;
  }

  &:active {
    opacity: 0.1;
  }
}
