.store {
}
.store__item {
  list-style: none;
}
.store__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  list-style: none;
}
