.upload__slogan {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
}
.upload__button {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-red;
  padding: 21px 90px;
  margin-bottom: 12px;
  margin-top: 38px;
}

.upload_wrapper-inner {
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__form {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
