.upload__slogan {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-top: 73px;
    margin-bottom: 78px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 67px;
    margin-bottom: 75px;
  }
}

.upload__button {
  border: 3px solid $basic-red;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-red;
  padding: 21px 90px;
  margin-bottom: 12px;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.upload__wrapper-inner {
  background-color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.upload__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.upload__cancel {
  border: 3px solid rgba(40, 54, 69, 0.1);
  box-sizing: border-box;
  border-radius: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: rgba(40, 54, 69, 0.1);
  padding: 21px 90px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 44px;
  }
}
