.users-photo {
}
.users-photo__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: $white;
  background-color: $basic-red;
}
.users-photo__item {
  list-style: none;
  display: inline-block;
  background-color: $grey;
}
.users-photo__user-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
}
.users-photo__publication-date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $dark-blue;
  text-transform: uppercase;
}
.users-photo__comment {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
}
.users-photo__likes {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: $basic-red;
  text-transform: uppercase;
}
