.users-photo {
  padding: 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.users-photo__item {
  list-style: none;
  display: inline-block;
  background-color: $grey;
  overflow: hidden;
  margin-bottom: 20px;
}

.users-photo__user-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
}

.users-photo__publication-date {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $dark-blue;
  text-transform: uppercase;
}

.users-photo__comment {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
  margin-top: 0;

  &--one {
    margin-bottom: 37px;
  }
}

.users-photo__likes {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: $basic-red;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
}

.users-photo__btn {
  border: none;
  cursor: pointer;
}

.users-photo__item-wrapper {
  padding: 18px 10px 17px 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 300px;
    max-height: 155px;
    padding: 23px 30px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 27px 25px;
  }
}

.users-photo__btn-wrapper {
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
