@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif; }

img {
  max-width: 100%; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 16px 34px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: none;
  background-color: inherit; }

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media (min-width: 660px) {
  .container {
    width: 660px; } }

@media (min-width: 960px) {
  .container {
    padding: 0 10px;
    width: 960px; } }

.download-section {
  padding: 28px 0 31px;
  color: #ffffff;
  background-color: #1d2631; }

.download-section__download-button {
  color: inherit;
  border: 3px solid #ffffff;
  border-radius: 29px; }
  .download-section__download-button:hover {
    background-color: #ffffff;
    color: #d22856; }
  .download-section__download-button:active {
    color: rgba(210, 40, 86, 0.3); }

.download-section__description {
  width: 280px;
  margin: 16px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.download-section__store-list {
  margin: 32px auto 0; }

@media (min-width: 660px) {
  .download-section {
    padding-top: 30px;
    padding-bottom: 111px;
    background-color: transparent; }
  .download-section__description {
    width: 308px;
    margin-top: 29px;
    margin-left: -5px;
    font-size: 18px; }
  .download-section__download-button {
    width: 300px; }
  .download-section__store-list {
    margin: 44px 0 0 28px; } }

@media (min-width: 960px) {
  .download-section {
    padding-top: 35px;
    padding-bottom: 125px;
    background-color: transparent; }
  .download-section__download-button {
    padding: 17px 28px;
    font-size: 21px; }
  .download-section__store-list {
    margin-top: 66px; }
  .download-section__description {
    margin-top: 47px; } }

.main-header {
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #283645;
  background-position: 50% 0; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .main-header {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto; } }

.main-header__tablet-logo,
.main-header__desktop-logo {
  display: none; }

.main-header--index-page .intro {
  min-height: 395px; }

.main-header__nav {
  background-color: rgba(0, 0, 0, 0.3); }
  .main-header__nav::before, .main-header__nav::after {
    content: "";
    overflow: hidden;
    display: block; }

.main-header--opened .main-header__nav {
  background-color: #283645; }

.main-header__logo {
  display: block;
  width: 150px;
  margin: 23px 0 15px 20px; }

.main-header__logo svg {
  fill: #ffffff; }
  .main-header__logo svg:hover {
    fill: #d22856; }
  .main-header__logo svg:active {
    fill: #ffffff;
    opacity: 0.3; }

.main-header__button-toggle--hidden {
  display: none; }

.main-header__menu-with-toggle-button {
  position: relative; }

.main-header__button-toggle {
  position: absolute;
  top: -44px;
  right: 21px;
  content: "";
  width: 50px;
  height: 25px;
  padding: 0; }
  .main-header__button-toggle::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 10px, 0 20px; }
  .main-header__button-toggle:hover::before, .main-header__button-toggle:hover::after {
    color: #d22856;
    background-color: #d22856; }
  .main-header__button-toggle:active {
    opacity: 0.3; }

.main-header--opened .main-header__button-toggle {
  top: -46px;
  right: 22px;
  width: 19px;
  height: 23px; }
  .main-header--opened .main-header__button-toggle::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    box-shadow: none;
    transform-origin: top left;
    transform: rotate(45deg); }
  .main-header--opened .main-header__button-toggle::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    transform-origin: top right;
    transform: rotate(-45deg); }
  .main-header--opened .main-header__button-toggle:hover::before, .main-header--opened .main-header__button-toggle:hover::after {
    color: #d22856;
    background-color: #d22856; }

.main-header__nav-menu {
  flex-grow: 1;
  display: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase; }

.main-header--opened .main-header__nav-menu {
  display: block;
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15); }

.main-header--opened .main-header__menu-link {
  box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15); }

.main-header--opened {
  background-position: 50% 258px; }

@media (min-width: 321px) {
  .main-header {
    background-image: url("../img/bg-back-tablet@1x.jpg"); } }
  @media (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 321px) and (min-resolution: 2dppx) {
    .main-header {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto; } }

@media (max-width: 659px) {
  .main-header--opened .main-header__logo {
    margin-bottom: 18px; } }

@media (min-width: 660px) {
  .main-header__mobile-logo {
    display: none; }
  .main-header__tablet-logo {
    display: block; }
  .main-header--index-page {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%, 50% 100%; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
    .main-header--index-page {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto; } }

@media (min-width: 660px) {
  .main-header--index-page .intro {
    min-height: auto; }
  .main-header__logo {
    margin-top: 30px;
    margin-bottom: 39px; }
  .main-header__button-toggle {
    top: -66px;
    right: 20px; }
  .main-header--opened .main-header__button-toggle {
    top: -68px; } }

@media (min-width: 960px) {
  .main-header {
    background-image: url("../img/bg-back-desktop@1x.jpg"); } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .main-header {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      background-position-y: 12px; } }

@media (min-width: 960px) {
  .main-header__tablet-logo {
    display: none; }
  .main-header__desktop-logo {
    display: block; }
  .main-header__container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-header--index-page {
    background-size: cover; }
  .main-header__download-section {
    padding-bottom: 125px; }
  .main-header__menu-with-toggle-button {
    width: 620px;
    margin-top: 10px; }
  .main-header__button-toggle {
    display: none; }
  .main-header__logo {
    margin-top: 26px;
    margin-bottom: 43px;
    margin-left: 2px; }
  .main-header__nav,
  .main-header--opened .main-header__nav {
    background-color: rgba(0, 0, 0, 0.3); }
  .main-header__nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none; }
  .main-header--opened .main-header__nav-menu {
    display: flex;
    background-color: transparent;
    box-shadow: none; }
  .main-header--opened .main-header__menu-link {
    box-shadow: none; } }

.nav-menu__link {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff; }
  .nav-menu__link:hover {
    color: #d22856; }
  .nav-menu__link:active {
    opacity: 0.3; }

@media (min-width: 960px) {
  .nav-menu__link {
    padding: 0; }
    .nav-menu__link:active {
      color: #ffffff; }
  .nav-menu__link--active {
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff; }
  .nav-menu {
    display: flex;
    background-color: transparent;
    box-shadow: none; } }

.intro {
  padding: 24px 0 0;
  color: #ffffff; }

.intro__container-index-page {
  position: relative; }
  .intro__container-index-page::after {
    position: absolute;
    content: "";
    bottom: -316px;
    right: 0;
    width: 320px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .intro__container-index-page::after {
        background-image: url("../img/iphone-hand-mobile@2x.png");
        background-size: 258px auto; } }

.intro--photo-page {
  padding-top: 28px;
  padding-bottom: 78px; }

.intro--contest-page {
  padding-top: 28px;
  padding-bottom: 44px; }

.intro__header {
  width: 280px;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center; }

.intro__container-index-page .intro__header {
  width: 280px; }

.intro--contest-page .intro__header,
.intro--photo-page .intro__header {
  line-height: 33px; }

@media (min-width: 660px) {
  .intro {
    padding-top: 95px; }
  .intro__container-index-page::after {
    background-image: none; }
  .intro__container-index-page .intro__header {
    width: 240px;
    margin-left: 30px; }
  .intro__header {
    margin-left: 10px;
    font-size: 40px; }
  .intro--contest-page {
    padding-top: 68px;
    padding-bottom: 60px; }
  .intro--photo-page {
    padding-top: 67px;
    padding-bottom: 128px; }
  .intro--photo-page .intro__header,
  .intro--contest-page .intro__header {
    margin-left: 0;
    width: auto;
    font-size: 50px;
    line-height: 68px; } }

@media (min-width: 960px) {
  .intro {
    padding-top: 99px; }
  .intro__container-index-page::after {
    right: 42px;
    bottom: -440px;
    width: 590px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position-x: -300px; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .intro__container-index-page::after {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto; } }

@media (min-width: 960px) {
  .intro__header {
    font-size: 50px;
    line-height: 68px; }
  .intro--photo-page .intro__header {
    margin: 0 auto;
    width: 380px;
    text-align: center; }
  .intro--contest-page {
    padding-top: 58px;
    padding-bottom: 88px; }
  .intro--photo-page {
    padding-top: 59px;
    padding-bottom: 90px; } }

.form-section__pre-form-header {
  margin-top: 44px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center; }

.form-section__pre-form-header span {
  display: none; }

.form-section__main-form {
  margin-top: 30px;
  padding-bottom: 20px; }

@media (min-width: 660px) {
  .form-section__pre-form-header {
    margin: 91px auto 0;
    width: 490px;
    font-size: 18px; }
  .form-section__pre-form-header span {
    display: inline; } }

@media (min-width: 960px) {
  .form-section__pre-form-header {
    width: 756px;
    margin-top: 93px; }
  .form-section__main-form {
    margin-top: 10px; } }

.store-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 240px; }

.copyright {
  display: flex;
  align-items: center; }

.copyright__link svg {
  fill: #d22856; }

.copyright__link:hover svg {
  fill: #283645; }

.copyright__link:active {
  opacity: 0.3; }

.advantages-list {
  padding-top: 50px;
  color: #283645;
  text-align: center; }

.advantages-list__header {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000; }

.advantages-list__paragraph {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px; }

.advantages-list__paragraph br,
.advantages-list__header br {
  display: none; }

@media (min-width: 660px) {
  .advantages-list {
    padding-top: 11px; }
  .advantages-list__paragraph br {
    display: inline; }
  .advantages-list__li {
    text-align: start; }
  .advantages-list__header {
    margin-top: 0; }
  .advantages-list__paragraph {
    margin-top: 12px;
    margin-bottom: 34px; } }

@media (min-width: 960px) {
  .advantages-list__li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 356px;
    text-align: center; }
    .advantages-list__li::before {
      position: absolute;
      top: 0;
      left: 4px;
      content: "";
      width: 292px;
      height: 382px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat; } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
      .advantages-list__li::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto; } }

@media (min-width: 960px) {
  .advantages-list__change-the-world-li::before {
    left: 7px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png"); } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .advantages-list__change-the-world-li::before {
      background-image: url("../img/iphone-screen-2-desktop@2x.png"); } }

@media (min-width: 960px) {
  .advantages-list__find-new-friends-li::before {
    left: 10px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png"); } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .advantages-list__find-new-friends-li::before {
      background-image: url("../img/iphone-screen-3-desktop@2x.png"); } }

@media (min-width: 960px) {
  .advantages-list__header {
    width: 240px;
    font-size: 30px;
    line-height: 30px; }
  .advantages-list__header br {
    display: inline; }
  .advantages-list__paragraph {
    width: 248px;
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px; }
  .advantages-list__paragraph br {
    display: none; } }

.question-solution-section {
  padding: 41px 0 0;
  color: #283645; }

.question-solution-section__paragraph {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center; }

.question-solution-section__paragraph:nth-of-type(2) {
  margin-top: 31px; }

@media (min-width: 660px) {
  .question-solution-section {
    padding: 47px 0 10px; }
  .question-solution-section__paragraph {
    font-size: 40px;
    line-height: 54px; }
  .question-solution-section__paragraph:nth-of-type(2) {
    margin-top: 0; } }

@media (min-width: 960px) {
  .question-solution-section {
    padding-top: 62px; }
  .question-solution-section__paragraph {
    font-size: 50px;
    line-height: 68px; }
  .question-solution-section__advantages-list {
    padding-left: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    text-align: center; } }

.advantages-section {
  margin-top: 33px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 107%; }

.advantages-section .container {
  padding-bottom: 318px;
  position: relative;
  overflow: hidden; }
  .advantages-section .container::after {
    position: absolute;
    bottom: -44px;
    left: 50%;
    content: "";
    width: 157px;
    height: 320px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    transform: translateX(-50%); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .advantages-section .container::after {
        background-image: url("../img/iphone-screen-mobile@2x.png");
        background-size: 157px auto; } }

@media (min-width: 660px) {
  .advantages-section {
    position: relative;
    margin-top: 26px; }
  .advantages-section .container {
    padding-top: 68px;
    padding-bottom: 10px;
    padding-left: 330px; }
    .advantages-section .container::after {
      display: none; }
    .advantages-section .container::before {
      position: absolute;
      bottom: -65px;
      left: 21px;
      content: "";
      width: 268px;
      height: 547px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat; } }
    @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
      .advantages-section .container::before {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto; } }

@media (min-width: 960px) {
  .advantages-section {
    margin-top: 58px; }
  .advantages-section .container {
    padding-top: 0;
    padding-left: 10px; }
    .advantages-section .container::before {
      display: none; } }

.effect-section {
  display: none;
  padding-top: 65px;
  padding-bottom: 89px;
  font-size: 14px;
  line-height: 24px; }

.effect-section .container {
  padding-left: 330px; }

.effect-section__header {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px; }

.effect-section__paragraph {
  margin-top: 10px;
  margin-bottom: 10px; }

.effect-section__link {
  color: #d22856; }

.effect-section__desktop-br {
  display: none; }

@media (min-width: 660px) {
  .effect-section {
    display: block; }
  .effect-section .container {
    position: relative; }
    .effect-section .container::before {
      position: absolute;
      content: "24";
      top: 12px;
      left: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 202px;
      height: 202px;
      font-weight: bold;
      font-size: 96px;
      line-height: 163px;
      text-align: center;
      color: #d22856;
      border: 16px solid #d22856;
      border-radius: 50%;
      z-index: 1; }
    .effect-section .container::after {
      position: absolute;
      content: "";
      top: -42px;
      left: 20px;
      width: 238px;
      height: 276px;
      background-image: url("../img/icon-timer.svg");
      background-size: contain; } }

@media (min-width: 960px) {
  .effect-section {
    padding-top: 89px;
    padding-bottom: 111px;
    background-color: #f2f2f2; }
  .effect-section .container {
    padding-left: 381px; }
    .effect-section .container::before {
      top: -27px;
      left: 35px;
      width: 252px;
      height: 252px;
      font-size: 120px;
      line-height: 163px;
      border-width: 18px; }
    .effect-section .container::after {
      top: -97px;
      left: 10px;
      width: 298px;
      height: 345px; }
  .effect-section__header {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0; }
  .effect-section__header br {
    display: none; }
  .effect-section__paragraph,
  .effect-section__link {
    font-size: 18px;
    line-height: 30px; }
  .effect-section__paragraph {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 554px; }
  .effect-section__paragraph br {
    display: none; }
  .effect-section__paragraph .effect-section__desktop-br {
    display: block; } }

.main-footer__logo svg {
  fill: #283645; }

.main-footer__logo:hover svg {
  fill: #d22856; }

.main-footer__logo:active {
  opacity: 0.3; }

.main-footer__logo:active svg {
  fill: #283645; }

.main-footer__desktop-logo {
  display: none; }

.main-footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 284px;
  padding-top: 34px;
  padding-bottom: 37px;
  align-items: center; }

@media (min-width: 660px) {
  .main-footer .container {
    flex-direction: row;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 51px;
    min-height: 127px; }
  .main-footer__logo {
    margin-top: -9px; } }

@media (min-width: 960px) {
  .main-footer__mobile-tablet-logo {
    display: none; }
  .main-footer__desktop-logo {
    display: block; }
  .main-footer .container {
    min-height: 197px;
    padding-top: 63px;
    padding-bottom: 87px; } }

.social-list {
  display: flex;
  justify-content: space-between;
  width: 178px; }

.social-list__link {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%; }
  .social-list__link:hover {
    border-color: #283645; }
  .social-list__link:active {
    opacity: 0.1; }

.social-list__link svg {
  fill: #d22856; }

@media (min-width: 660px) {
  .social-list {
    margin-left: -18px; } }

@media (min-width: 960px) {
  .social-list {
    margin-left: 7px;
    margin-top: 2px; } }

.photos {
  padding-top: 43px; }

.photos__header {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center; }

.photos__first-photo-and-comment-section {
  padding-top: 50px; }

.photos__first-photo-and-comment-section img {
  width: 100%; }

.photos__link--panorama .container {
  position: relative; }

.photos__panorama-span {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 36px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase; }

.photos__review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  color: #283645; }

.photos__block {
  margin: 0;
  padding: 18px 10px 17px 18px;
  background-color: #f2f2f2; }

.photos__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; }

.photos__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase; }

.photos__comment {
  margin: 0;
  font-size: 14px;
  line-height: 24px; }

.photos__like {
  position: relative;
  margin: 12px 0 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856; }
  .photos__like::before {
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg"); }

.photos__like--top {
  display: none; }

.photos__link {
  display: block;
  line-height: 0; }

.photos__photo-fair {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover; }

@media (min-width: 660px) {
  .photos {
    padding-top: 92px; }
  .photos__review-list img {
    width: 300px;
    height: 300px; }
  .photos__link--panorama {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .photos__link--panorama img {
    min-width: 700px;
    height: 509px; }
  .photos__panorama-span {
    top: 57px;
    font-style: normal; }
  .photos__header {
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px; }
  .photos__header br,
  .photos__block br {
    display: none; }
  .photos__block {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 155px;
    margin-bottom: 0;
    padding: 23px 30px 25px 30px; }
  .photos__block--first {
    flex-direction: row;
    flex-wrap: wrap; }
  .photos__first-photo-and-comment-section {
    padding-top: 76px;
    margin-bottom: 50px; }
  .photos__first-photo-and-comment-section .photos__block {
    width: 620px;
    min-height: auto; }
  .photos__like {
    margin-top: auto;
    padding-left: 0; }
    .photos__like::before {
      right: 0;
      left: auto; }
  .photos__first-photo-and-comment-section .photos__author {
    order: -2; }
  .photos__like--bottom {
    width: 118px;
    order: -1;
    margin-left: auto; }
  .photos__comment-first-comment {
    margin-bottom: 0; }
  .photos__review-list li {
    display: flex;
    flex-direction: column; } }

@media (min-width: 960px) {
  .photos {
    padding-top: 91px; }
  .photos__block {
    padding: 22px 27px 25px 27px; }
  .photos__review-list {
    display: grid;
    row-gap: 54px;
    grid-template-columns: repeat(3, 300px); }
  .photos__review-list img {
    height: 400px; }
  .photos__header {
    width: 610px; }
  .photos__first-photo-and-comment-section {
    padding-top: 88px; }
  .photos__link--panorama img {
    min-width: 1200px;
    height: 506px; }
  .photos__panorama-span {
    top: 54px;
    right: 10px; }
  .photos__first-photo-and-comment-section .photos__block {
    width: auto;
    padding-top: 24px;
    padding-bottom: 24px; }
  .photos__like::before {
    right: 4px; }
  .photos__like--bottom {
    width: 121px; }
  .photos__like--top {
    padding-right: 33px; } }

@media (min-width: 700px) and (max-width: 959px) {
  .photos__link--panorama picture {
    width: 100%; } }

@media (min-width: 1200px) {
  .photos__link--panorama picture {
    width: 100%; } }

.app-reviews {
  padding: 41px 0 0;
  text-align: center; }

.app-reviews__article div {
  margin: 0; }

.app-reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0; }

.app-reviews__author-description {
  display: none; }

.app-reviews__message {
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.app-reviews__controls {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto; }

.app-reviews__button {
  display: none; }

@media (min-width: 660px) {
  .app-reviews {
    padding-top: 10px; }
  .app-reviews__article div {
    display: flex;
    flex-direction: column; }
  .app-reviews__author {
    order: 1;
    margin-top: 36px;
    font-size: 20px; }
  .app-reviews__author-description {
    order: 2;
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: #283645; }
  .app-reviews__message {
    font-size: 18px; }
  .app-reviews__controls {
    margin-top: 38px; } }

@media (min-width: 960px) {
  .app-reviews {
    padding-top: 162px; }
  .app-reviews .container {
    position: relative; }
    .app-reviews .container::before {
      position: absolute;
      top: -100px;
      left: 440px;
      content: "";
      width: 79px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg"); }
  .app-reviews__message {
    width: 710px;
    margin-left: auto;
    margin-right: auto; }
  .app-reviews__author {
    font-size: 24px; }
  .app-reviews__author-description {
    margin-top: 2px;
    font-size: 18px; }
  .app-reviews__controls {
    display: none; }
  .app-reviews__button {
    position: absolute;
    top: 40px;
    left: 11px;
    display: block;
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-color: transparent;
    border: none;
    opacity: 0.3;
    cursor: pointer; }
    .app-reviews__button:hover {
      opacity: 0.6; }
    .app-reviews__button:active {
      opacity: 0.1; }
  .app-reviews__button--next {
    left: auto;
    right: 9px;
    transform: rotate(180deg); } }

.switcher {
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer; }
  .switcher:hover {
    opacity: 0.5; }
  .switcher--active, .switcher:active {
    opacity: 1; }

.switcher--active svg {
  fill: #d22856; }

@media (min-width: 660px) {
  .switcher {
    width: 44px;
    padding: 0;
    opacity: 1;
    cursor: default;
    transform: scale(0.5); }
  .switcher svg {
    fill: #d22856; } }

@media (min-width: 960px) {
  .switcher {
    transform: none; } }

.options {
  padding: 140px 0 49px;
  overflow: hidden;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 245%; }

.options__container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.options__table {
  width: 840px;
  background-color: #ffffff;
  border-collapse: collapse; }

.options__table td {
  width: 280px;
  height: 60px;
  padding: 8px 50px 10px 22px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  color: #283645;
  text-transform: uppercase; }

.options__name-and-price-header {
  padding: 12px 10px 29px;
  text-transform: uppercase;
  text-align: center;
  background-color: #283645;
  color: #ffffff;
  border: 1px solid #e5e5e5; }

.options__name-and-price-header--hit {
  position: relative; }
  .options__name-and-price-header--hit::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: 74px;
    height: 74px;
    background-image: url("../img/bg-hit-my.svg");
    background-repeat: no-repeat; }
  .options__name-and-price-header--hit::after {
    position: absolute;
    content: "Хит";
    top: 15px;
    left: -10px;
    width: 74px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg); }

.options__option-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px; }

.options__option-price {
  margin: 0;
  margin-top: -3px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }

.options__element-display-none {
  display: none; }

.options__advantage-yes,
.options__advantage-no {
  position: relative; }
  .options__advantage-yes::after,
  .options__advantage-no::after {
    position: absolute;
    content: "";
    right: 19px;
    top: 17px;
    width: 31px;
    height: 21px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat; }

.options__advantage-no::after {
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg"); }

.options__controls {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 45px;
  transform: translateX(-50%); }

@media (min-width: 660px) {
  .options {
    padding-top: 115px;
    padding-bottom: 69px;
    background-size: 125%; }
  .options__container {
    width: 660px;
    padding: 0 22px;
    margin: 0 auto; }
  .options__name-and-price-header--hit::before {
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet-my.svg"); }
  .options__name-and-price-header--hit::after {
    top: 8px;
    left: -18px; }
  .options__table {
    width: 616px; }
  .options__table td {
    width: 154px;
    padding: 7px 13px 8px;
    height: 47px;
    text-transform: none; }
  .options__advantage-description {
    display: table-cell; }
  .options__name-and-price-header {
    padding-bottom: 8px; }
    .options__name-and-price-header:first-child {
      display: table-cell;
      background-color: #f2f2f2;
      border: none; }
  .options__advantage-yes::after,
  .options__advantage-no::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .options__description {
    display: table-cell; }
  .options__advantage span {
    display: none; }
  .options__controls {
    display: none; } }

@media (min-width: 960px) {
  .options {
    margin-top: 40px;
    padding-top: 148px;
    padding-bottom: 96px;
    background-size: 103%; }
  .options__name-and-price-header--hit::before {
    width: 74px;
    height: 74px;
    background-image: url("../img/bg-hit-my.svg"); }
  .options__name-and-price-header--hit::after {
    top: 14px;
    left: -7px; }
  .options__container {
    width: 960px;
    padding: 0 10px; }
  .options__table {
    width: auto; }
  .options__table td {
    width: 235px;
    height: 61px;
    padding-left: 21px;
    font-size: 18px; }
  .options__name-and-price-header {
    padding-top: 16px;
    padding-bottom: 19px; }
  .options__option-name {
    font-size: 18px; }
  .options__option-price {
    margin-top: 1px;
    font-size: 24px; } }

.contact-section {
  padding-top: 42px;
  text-align: center; }

.contact-section__header {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%; }

.contact-section__contact-list {
  margin-top: 35px; }

.contact-section__type {
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px; }

.contact-section__value {
  display: block;
  margin-top: -1px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  text-decoration: none; }
  .contact-section__value[href^="mailto"]:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #283645; }
  .contact-section__value[href^="mailto"]:active {
    text-decoration: none;
    opacity: 0.3; }

.contact-section__map {
  position: relative;
  margin-top: 34px;
  min-height: 200px;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center; }

.contact-section__decor-triangle {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  fill: #ffffff; }

.contact-section__img {
  width: 100%;
  height: 200px;
  border: none; }

@media (min-width: 321px) {
  .contact-section__decor-triangle {
    width: 100%;
    height: auto; } }

@media (min-width: 660px) {
  .contact-section {
    padding-top: 44px; }
  .contact-section__header {
    width: 400px;
    font-size: 40px;
    line-height: 54px;
    margin-left: auto;
    margin-right: auto; }
  .contact-section__contact-list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .contact-section__value {
    margin-top: 3px; }
  .contact-section__contact-list li {
    width: 250px; }
  .contact-section__contact-list li:first-child {
    margin-right: 20px; }
  .contact-section__contact-list li:last-child {
    margin-top: 23px; }
  .contact-section__map {
    margin-top: 22px;
    min-height: 374px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg"); }
  .contact-section__img {
    height: 374px; } }

@media (min-width: 960px) {
  .contact-section {
    padding-top: 59px; }
  .contact-section__map {
    margin-top: 19px;
    min-height: 502px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg"); }
  .contact-section__header {
    width: 500px;
    font-size: 50px;
    line-height: 68px; }
  .contact-section__contact-list {
    margin-top: 21px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between; }
  .contact-section__contact-list li:first-child {
    margin-right: 0; }
  .contact-section__contact-list li:nth-child(2) {
    order: 1; }
  .contact-section__contact-list li:last-child {
    margin-top: 0; }
  .contact-section__value {
    margin-top: 20px; }
  .contact-section__img {
    height: 502px; } }

.handle-form {
  margin-bottom: 5px;
  padding-top: 43px;
  text-align: center; }

.handle-form__header {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.handle-form__inner-container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px; }

.handle-form__form {
  margin: 0;
  padding: 20px 0 0;
  background-color: #f2f2f2; }

.handle-form__outer-container {
  margin-top: 42px; }

.handle-form__fieldsets-div {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  margin-left: 29px; }

.handle-form__scale {
  display: none;
  height: 2px;
  width: 240px;
  background-color: #283645; }

.handle-form__scale-and-toggle-div-for-mobile {
  position: relative;
  margin-top: 32px; }

.handle-form__scale-and-toggle {
  position: relative; }

.handle-form__toggle {
  position: absolute;
  top: -5px;
  left: 5px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer; }
  .handle-form__toggle:active {
    background-color: #d22856; }

.handle-form__scale-for-mobile {
  display: block;
  margin: 0 auto; }

.handle-form__buttons-div {
  margin-top: 34px;
  padding: 39px 0 40px;
  position: relative; }
  .handle-form__buttons-div::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    height: 1px;
    width: 320px;
    background-color: rgba(40, 54, 69, 0.1); }

.handle-form__submit-button,
.handle-form__cancel-button {
  background-color: inherit;
  border: 3px solid #d22856;
  color: #d22856;
  border-radius: 30px; }

.handle-form__cancel-button {
  margin-top: 12px;
  border-color: #283645;
  color: #283645;
  opacity: 0.1;
  font-family: inherit; }
  .handle-form__cancel-button:hover {
    opacity: 0.3; }
  .handle-form__cancel-button:active {
    border: none;
    color: rgba(255, 255, 255, 0.3);
    background-color: #283645; }

.handle-form__submit-button:hover {
  background-color: #d22856;
  color: #ffffff; }

.handle-form__submit-button:active {
  color: rgba(255, 255, 255, 0.3); }

.handle-form__toggle-for-mobile {
  display: block;
  left: 213px; }

@media (min-width: 660px) {
  .handle-form {
    padding-top: 63px; }
  .handle-form__outer-container {
    margin-top: 70px; }
  .handle-form__inner-container {
    width: 660px;
    display: grid;
    grid-template-columns: 300px auto;
    -moz-column-gap: 33px;
         column-gap: 33px;
    margin-bottom: 6px;
    padding-top: 32px;
    padding-bottom: 12px; }
  .handle-form__header {
    font-size: 18px; }
  .handle-form__scale-and-toggle-div-for-mobile {
    display: none; }
  .handle-form__scale {
    display: block;
    width: 202px;
    margin-left: 20px; }
  .handle-form__picture {
    grid-row: 1 / span 2; }
  .handle-form__img {
    margin-top: 6px;
    width: 300px;
    height: 400px; }
  .handle-form__fieldsets-div {
    flex-direction: column;
    width: 270px;
    margin-top: 0;
    margin-left: 4px; }
  .handle-form__button-and-scale-with-toggle {
    display: flex;
    align-items: center; }
  .handle-form__buttons-div {
    grid-column: 2;
    margin-top: 27px;
    margin-left: 14px; }
    .handle-form__buttons-div::before {
      display: none; }
  .handle-form__handler-crop,
  .handle-form__handler-fill,
  .handle-form__handler-contrast {
    position: relative;
    padding-bottom: 10px;
    width: 270px; }
    .handle-form__handler-crop::after,
    .handle-form__handler-fill::after,
    .handle-form__handler-contrast::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 275px;
      height: 1px;
      background-color: rgba(40, 54, 69, 0.1); }
  .handle-form__handler-fill {
    margin-top: 12px; }
  .handle-form__handler-contrast {
    margin-top: 17px;
    padding-bottom: 18px; }
  .handle-form__cancel-button {
    margin-top: 23px; }
  .handle-form__cancel-button,
  .handle-form__submit-button {
    width: 260px; } }

@media (min-width: 960px) {
  .handle-form__outer-container {
    width: 960px;
    margin: 67px auto 0;
    padding: 0 10px; }
  .handle-form {
    margin-bottom: 36px;
    padding-top: 57px; }
  .handle-form__form {
    padding-top: 52px;
    padding-bottom: 10px; }
  .handle-form__buttons-div {
    display: flex;
    margin-top: 106px;
    margin-left: 16px; }
  .handle-form__submit-button,
  .handle-form__cancel-button {
    width: 183px; }
  .handle-form__cancel-button {
    margin-top: 0;
    margin-left: 43px; }
  .handle-form__scale {
    width: 288px;
    margin-left: 50px; }
  .handle-form__button-and-scale-with-toggle {
    width: 380px; }
  .handle-form__inner-container {
    width: auto;
    padding: 0 60px 0 80px;
    -moz-column-gap: 75px;
         column-gap: 75px; }
  .handle-form__fieldsets-div {
    width: 400px; }
  .handle-form__handler-crop::after,
  .handle-form__handler-fill::after {
    width: 410px; }
  .handle-form__handler-contrast::after {
    display: none; } }

@media (min-width: 660px) {
  .name-fieldset {
    padding-top: 36px; } }

.travel-fieldset {
  padding: 39px 0 47px;
  background-color: #f2f2f2; }

@media (min-width: 960px) {
  .travel-fieldset__beach-label {
    order: 4; }
  .travel-fieldset__chuck-label {
    order: 2; }
  .travel-fieldset__shopping-label {
    order: 5; }
  .travel-fieldset__tower-label {
    order: 3; }
  .travel-fieldset__hotel-label {
    order: 6; } }

.main-form__legend {
  width: 100%;
  margin: 0 auto;
  padding: 40px 50px 3px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;
  background-color: #f2f2f2; }

.main-form__emotion-fieldset .main-form__legend {
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto; }

.main-form__label-for-input-text {
  display: block;
  margin-top: 5px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856; }

.main-form__input-text {
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 15px 20px 14px;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5; }
  .main-form__input-text:hover {
    border-color: #283645; }
  .main-form__input-text:active, .main-form__input-text:focus {
    border-color: #d22856;
    outline: none; }
  .main-form__input-text::-moz-placeholder {
    color: #283645;
    opacity: 1; }
  .main-form__input-text::placeholder {
    color: #283645;
    opacity: 1; }

.main-form__emotion-label {
  margin-top: 32px;
  margin-left: 0;
  text-align: center; }

.main-form__emotion-text-area {
  margin-top: 17px;
  margin-bottom: 0;
  padding-top: 13px;
  min-height: 201px;
  resize: none; }

.main-form__label-for-check-or-radio {
  display: block;
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 30px;
  color: #283645; }
  .main-form__label-for-check-or-radio:last-child {
    margin-bottom: 0; }

.main-form__submit-button {
  margin-top: 42px;
  margin-bottom: 0;
  min-height: 64px;
  background-color: #2aab6d;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 1px; }
  .main-form__submit-button:hover {
    background-color: #1c9b5e; }
  .main-form__submit-button:active {
    color: rgba(255, 255, 255, 0.3); }
  .main-form__submit-button:disabled {
    background-color: #e5e5e5; }

.main-form__hint {
  margin: 34px 0 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #283645; }

.main-form__hint .main-form__star {
  color: #d22856; }

.main-form__hint .main-form__extra-text {
  display: none; }

.main-form__travel-fieldset {
  margin-top: 30px; }

.main-form__contacts-fieldset .main-form__legend {
  display: none; }

.main-form__inner-container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.main-form__emotion-fieldset {
  margin-top: 37px; }

@media (min-width: 660px) {
  .main-form__inner-container {
    width: auto;
    margin: 0;
    padding: 0; }
  .main-form__outer-container {
    width: 660px;
    margin: 64px auto 53px;
    padding: 0 20px; }
  .main-form {
    display: grid; }
  .main-form__label-and-input-div {
    display: flex;
    align-items: center;
    margin-bottom: 35px; }
  .main-form__label-for-input-text {
    display: inline-block;
    margin: 0;
    margin-right: 18px; }
  .main-form__input-text {
    flex-grow: 1;
    width: auto; }
  .main-form__emotion-fieldset {
    margin-top: 58px;
    padding: 20px 57px 46px; }
  .main-form__emotion-fieldset .main-form__legend {
    padding: 0 40px; }
  .main-form__travel-fieldset {
    margin-top: 57px;
    padding: 48px 57px 53px;
    background-color: #ffffff; }
  .main-form__travel-fieldset .main-form__legend {
    padding: 0 30px; }
  .main-form__emotion-text-area {
    width: 500px;
    min-height: 193px; }
  .main-form__submit-button {
    width: 300px; }
  .main-form__submit-button-and-hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px; }
  .main-form__platform-type-fieldset {
    grid-row: 2;
    margin-top: 13px;
    padding: 48px 57px 16px; }
  .main-form__platform-type-fieldset,
  .main-form__travel-fieldset,
  .main-form__contacts-fieldset,
  .main-form__emotion-fieldset {
    position: relative;
    border: 2px solid #e5e5e5;
    border-radius: 1px; }
  .main-form__contacts-fieldset {
    grid-row: 3;
    margin-top: 59px;
    padding: 38px 58px 58px; }
  .main-form__contacts-fieldset .main-form__inner-container {
    display: grid; }
  .main-form__contacts-fieldset .main-form__legend {
    display: block;
    padding: 0 30px; }
  .main-form__contacts-fieldset .main-form__input-text {
    margin-top: 28px;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 60px; }
  .main-form__legend {
    width: auto;
    padding: 0 25px;
    background-color: #ffffff; }
  .main-form__legend br {
    display: none; }
  .main-form__emotion-label {
    position: absolute;
    top: -15px;
    left: 50%;
    width: 260px;
    background-color: #ffffff;
    transform: translateX(-50%); }
  .main-form__hint {
    margin-top: 47px; } }

@media (min-width: 960px) {
  .main-form {
    grid-template-columns: 433px 431px;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    gap: 13px 74px; }
  .main-form__outer-container {
    width: 960px;
    margin-top: 72px;
    margin-bottom: 4px;
    padding: 0 10px; }
  .main-form__platform-type-fieldset {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .main-form__platform-type-fieldset .main-form__inner-container {
    padding: 0 43px; }
  .main-form__name-fieldset {
    margin-top: 8px; }
  .main-form__contacts-fieldset {
    grid-row: 2;
    grid-column: 1/-1;
    margin-top: 0;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content; }
  .main-form__travel-fieldset {
    grid-row: 3;
    grid-column: 1/-1;
    margin-top: 46px;
    padding-top: 47px;
    padding-bottom: 8px; }
  .main-form__travel-fieldset .main-form__inner-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    -moz-column-gap: 56px;
         column-gap: 56px; }
  .main-form__contacts-fieldset .main-form__inner-container {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 70px;
         column-gap: 70px; }
  .main-form__emotion-fieldset {
    margin-top: 45px;
    padding-top: 17px;
    padding-bottom: 40px; }
  .main-form__emotion-text-area {
    width: 822px;
    min-height: 125px;
    padding-top: 11px;
    padding-left: 22px; }
  .main-form__submit-button-and-hint {
    grid-column: 1/-1;
    margin-top: 9px; }
  .main-form__hint {
    margin-top: 43px; }
  .main-form__hint .main-form__extra-text {
    display: inline; } }

.check {
  position: relative;
  padding-left: 59px;
  cursor: pointer; }

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.check__box,
.check__radio {
  position: absolute;
  left: 0;
  top: -4px;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px; }

.check__radio {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.check:hover .check__box,
.check:hover .check__radio {
  border-color: #283645; }

.check__input:focus + .check__box,
.check__input:focus + .check__radio,
.check:active .check__box,
.check:active .check__radio {
  border-color: #d22856; }

.check__input:checked + .check__box {
  background-image: url("../img/icon-check.svg");
  background-position: 7px 7px;
  background-repeat: no-repeat; }

.check__input:checked + .check__radio::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%; }

.platform-type-fieldset {
  padding: 39px 0 47px;
  background-color: #f2f2f2; }

.platform-type-fieldset__legend {
  padding-bottom: 0; }

.platform-type-fieldset__radio {
  margin-bottom: 44px;
  padding-left: 70px; }

@media (min-width: 660px) {
  .platform-type-fieldset {
    padding: 48px 57px 59px;
    background-color: #ffffff; }
  .platform-type-fieldset__radio {
    margin-bottom: 44px;
    padding-left: 62px; } }

@media (min-width: 960px) {
  .platform-type-fieldset {
    padding: 46px 28px 60px; }
  .platform-type-fieldset__radio {
    margin-bottom: 46px; }
  .platform-type-fieldset__radio:last-child {
    margin-bottom: 0; } }

.contacts-fieldset {
  padding-top: 27px;
  padding-bottom: 29px; }

@media (min-width: 660px) {
  .contacts-fieldset {
    padding-top: 8px; }
  .contacts-fieldset__phone-number-label,
  .contacts-fieldset__email-label {
    display: block;
    margin-left: 20px; }
  .contacts-fieldset__phone-number-label {
    grid-row: 2; }
  .contacts-fieldset__email-label {
    grid-row: 4; }
  .contacts-fieldset__phone-div,
  .contacts-fieldset__email-div {
    position: relative; }
    .contacts-fieldset__phone-div::before,
    .contacts-fieldset__email-div::before {
      position: absolute;
      content: "";
      top: 30px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .contacts-fieldset__email-div::before {
    background-image: url("../img/icon-mail.svg"); } }

@media (min-width: 960px) {
  .contacts-fieldset {
    padding-top: 4px;
    padding-bottom: 13px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content; }
  .contacts-fieldset__email-label {
    grid-row: 2; } }

.handler-crop__toggle {
  display: none; }

@media (min-width: 660px) {
  .handler-crop__toggle {
    left: 165px;
    display: block; } }

@media (min-width: 960px) {
  .handler-crop__toggle {
    left: 120px; } }

.handler-fill__toggle {
  display: none; }

@media (min-width: 660px) {
  .handler-fill__toggle {
    left: 45px;
    display: block; } }

@media (min-width: 960px) {
  .handler-fill__toggle {
    left: 297px; } }

.handler-contrast__toggle {
  display: none; }

@media (min-width: 660px) {
  .handler-contrast__toggle {
    left: 115px;
    display: block; } }

@media (min-width: 960px) {
  .handler-contrast__toggle {
    left: 212px; } }

.slider-controls__item {
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%; }
  .slider-controls__item:hover {
    background-color: rgba(40, 54, 69, 0.6); }
  .slider-controls__item:active {
    background-color: rgba(40, 54, 69, 0.1); }
  .slider-controls__item--active {
    position: relative; }
    .slider-controls__item--active::after {
      position: absolute;
      content: "";
      left: -3px;
      top: -3px;
      width: 12px;
      height: 12px;
      border: 3px solid #283645;
      border-radius: 50%;
      background-color: #ffffff; }

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  min-height: 298px;
  padding-top: 47px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  transform: translate(-50%, -50%); }

.popup__header {
  margin: 0;
  font-size: 18px;
  line-height: 24px; }

.popup__message {
  margin: 25px auto 0;
  width: 273px;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.popup__bottom-row-success {
  margin-top: 35px;
  padding: 51px 0;
  background-color: #f2f2f2; }

.popup__button {
  margin-top: 41px;
  padding: 10px 20px;
  width: 279px;
  min-height: 61px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px; }
  .popup__button:hover {
    background-color: #1c9b5e; }
  .popup__button:active {
    color: rgba(255, 255, 255, 0.3); }

.popup__button-success {
  margin-top: 0; }

@media (min-width: 660px) {
  .popup {
    width: 460px;
    min-height: 372px;
    border-radius: 5px; }
  .popup__header,
  .popup__message {
    margin-left: auto;
    margin-right: auto; }
  .popup__message br {
    display: none; }
  .popup__header {
    width: 250px;
    font-size: 30px;
    line-height: 40px; }
  .popup__message {
    width: 320px;
    font-size: 18px;
    line-height: 24px; }
  .popup__bottom-row-success {
    margin-top: 30px; }
  .popup__button {
    margin-top: 32px;
    width: 296px; }
  .popup__button-success {
    margin-top: 0; } }

@media (min-width: 960px) {
  .popup {
    width: 780px;
    min-height: 377px; }
  .popup__header {
    width: 400px;
    font-size: 30px;
    line-height: 40px; }
  .popup__message {
    width: 380px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px; }
  .popup__bottom-row {
    margin-top: 61px;
    padding-top: 51px;
    padding-bottom: 51px;
    background-color: #f2f2f2;
    border-radius: 0 0 5px 5px; }
  .popup__bottom-row-success {
    margin-top: 38px; }
  .popup__button {
    margin-top: 0; }
  .popup__button-success {
    width: 456px; } }

/*# sourceMappingURL=style.css.map */
