// Colors
$white: #ffffff;
$black: #000000;
$almost-black: #1d2631;
$grey: #f2f2f2;
$grey2: #e5e5e5;
$dark-blue: #283645;
$red: #f25b26;
$light-red: #d22856;
$green: #3dc644;
$green2: #1c9b5e;
$dark-green: #2aab6d;
$green-hover: #1c9b5e;

// Screen widths
$mobile-width: 320px;
$tablet-min-width: 660px;
$desktop-min-width: 960px;
